n8n/workflow.json
{
  "name": "Hamsafar Multi-Agent Cognitive Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hamsafar-chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "webhook-inbound",
      "name": "Twilio / Web UI Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.body.From || $json.body.session_id || 'default_user' }}\",\n  \"message\": \"{{ $json.body.Body || $json.body.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        320,
        300
      ],
      "id": "http-cognitive-backend",
      "name": "FastAPI Cognitive Brain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.From }}",
              "operator": "isNotEmpty",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        300
      ],
      "id": "if-whatsapp-channel",
      "name": "Is WhatsApp Traffic?"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "whatsapp:+14155238886",
        "to": "={{ $('Twilio / Web UI Webhook').item.json.body.From }}",
        "messageType": "whatsapp",
        "text": "={{ $json.body.reply }}"
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        780,
        200
      ],
      "id": "twilio-send-whatsapp",
      "name": "Send WhatsApp Reply",
      "credentials": {
        "twilioApi": {
          "id": "twilio-credential-placeholder"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allEntryItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        400
      ],
      "id": "respond-web-ui",
      "name": "Respond to Web UI"
    }
  ],
  "connections": {
    "Twilio / Web UI Webhook": {
      "main": [
        [
          {
            "node": "FastAPI Cognitive Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI Cognitive Brain": {
      "main": [
        [
          {
            "node": "Is WhatsApp Traffic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is WhatsApp Traffic?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Web UI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "hamsafar-workflow-export"
}
